<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>combee.net - Ben Combee</title>
    <link href="https://nycr.social/@unwiredben" rel="me">
    <link href="https://bsky.app/profile/unwiredben.bsky.social" rel="me">
    <meta name="description" content="Ben Combee's personal website">
    <meta name="author" content="Ben Combee">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <!--<link rel="stylesheet" href="bootstrap/css/bootstrap.min.responsive">-->
    <style type="text/css">
      body, section, footer {
        padding-top: 25px;
      }
      footer {
        padding: 25px;
      }
      /* override, make smaller than 60px */
      .hero-unit h1 {
        font-size: 46px;
      }
      .brand { margin-left: 20px; }
      /* style mods based on http://colorschemedesigner.com/#3j22q9VvKhoMn */
      .hero-unit { background-color: #D2E7E8; }
      h2 { color: #3E797C; }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">
  </head>

<body>
<div id="content">
{{ content }}
</div>

</body>
</html>
